<div class="container mt-5">
    <div class="col-md-6 offset-md-3 text-center chat-container">
        <h3 class="form-title text-center">Centro de Mensajes</h3>
        <label class="mt-4 form-label">Email</label>
        <input type="text" name="email" id="email"placeholder="Ingrese el email"class="form-control mt-2 mb-4 text-center">
        <span id="errorEmail"class=" text-center error-email"></span>
        <hr>
        <section id="showMessage"class="mt-4 text-start form-control"></section>
        <hr>
        <div class="row mt-4">
            <div class="col-md-10">
                <input type="text"class="form-control text-center"id="message"placeholder="Escriba el mensaje...">
                <span id="errorMessage"class=" text-center error-message"></span>
            </div>
            <div class="col-md-2">
                <button class="btn btn-secondary"id="btnEnviar">Enviar</button>
            </div>
        </div>
    </div>
</div>