<%- include('./partials/header')%>
    <!--incluir encabezado-->

    <body>
        <div class="container mt-5 mb-3">
            <a href="./productos" class="btn btn-secondary">Lista de Productos</a>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <%- include('./partials/formProduct')%><!--incluir formulario ingreso de productos -->
                </div>
            </div>
        </div>
    </body>
    </html>